NODE_ENV="development"

APP_NAME="FiapFoodOrder"
APP_DESCRIPTION="Prepration Component for Fiap Food"
APP_VERSION="1.0.0"

PORT="3000"
LOG_LEVEL="debug"
LOG_FORMAT="pretty" # pretty | json

TRAFFIC_INSPECTION_HTTP="all" # inbound|outbound|all|none
TRAFFIC_INSPECTION_AMQP="all" # inbound|outbound|all|none 

ROUTE_PREFIX=""

MONGO_URL="mongodb://fiapfood:fiapfood@localhost:27017/FiapFoodOrder?authSource=admin"
AMQP_URL="amqp://fiapfood:fiapfood@localhost:5672"

BASE_URL_PAYMENT_SERVICE="http://localhost:4000"
BASE_URL_PREPARATION_SERVICE="http://localhost:5000"